h1 {
  color: #27aedb;
  text-align: center;
}

/* 
button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
} */
p {
  color: aqua;
  /* align-items: center; */
  text-align: center;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
